.my-nav{
    background-image: url('img/background1.png');
    height: 500px;
}

.navbar{
    background-color: transparent !important;
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size:1.1em !important;
}

.navbar .nav-item a:hover{
    color:#5cb85c !important;
} 

.padding{
    padding: 7px;
}

input[type=text]:focus:not([readonly]) {
    border: 2px solid #5cb85c;
    box-shadow: 0 0 0 1px #5cb85c;
}

form{
    transform: translateY(150%);
}

/*Sve iznad je vezano za navigaciju, div za sliku, kao i za input formu i dugme*/


